:root {
    --red: #E74C3C;
    --blue: #3992D0;
    --green: #2ECC71;
    --color1: #181B23;
    --color2: #272c38;
    --color3: #CE6B82;
    --cyan: #39fff8;
}

span.color {
    color: var(--color3)
}

span.blue {
    color: var(--blue)
}

span.green {
    color: var(--green)
}

span.red {
    color: var(--red)
}

span.cyan {
    color: var(--cyan)
}