.bio {
    padding: 10px;
    text-align: center;
    margin: 5px;
    background-color: var(--color2);
    border-radius: 2px;
    box-shadow: 0 0 5px var(--color3);
    border: 1px solid var(--color3);
    width: fit-content;
}