.bannerContainer {
    height: 310px;
    max-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner {
    min-height: 105%;
    min-width: 105%;
    object-fit: cover;
}

.profileContainer {
    padding: 20px;
    background-color: var(--color2);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.profileInformations {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.username {
    font-size: 45px;
    text-align: left !important;
    font-weight: bold;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main {
    border: none !important;
    padding: 0;
    margin-bottom: 100px;
    width: 1000px !important;
}

.tabs {
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 10px;
}

.tabs p {
    cursor: pointer;
}

.tabs p.selected {
    color: var(--color3);
}

.posts.hidden,
.about.hidden,
.comments.hidden {
    display: none;
}

.posts,
.about,
.comments {
    padding: 15px;
    width: 100%;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profileInformations button {
    width: 150px;
}

.roleIcon {
    cursor: pointer;
    height: 20px;
    transition-duration: var(--transition);
}

.roleIcon:hover {
    transform: scale(1.2);
}

.postsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background-color: var(--color1);
}

.profileContainer .avatarContainer {
    min-width: 150px;
    width: 150px;
    min-height: 150px;
    height: 150px;
    margin-right: 20px;
}

.post {
    width: 100%;
    max-height: 200px;
    overflow-x: auto;
}