.tile {
    display: inline-block;
    width: 100%;
    transition-duration: 250ms;
    text-align: left;
    /* avoid the top of the tile from being cropped */
    margin-bottom: 20px;
    margin-top: 20px;
}

.tile:hover {
    transform: scale(1.01);
}

.tile .head {
    display: flex;
    align-items: center;
    /* separator between the tile head and the tile body */
    border-bottom: 2px solid var(--color3);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.tile .head .title {
    font-size: 25px;
    font-weight: bold;
}

.tile .head .icon {
    margin-left: 10px;
    height: 25px;
}

.tile .body .banner {
    width: 100000px;
    /* the image should take the entire width */
    max-width: 100%;
    margin-top: 10px;
}

.tile .head .title::before {
    content: '>';
    color: white;
    text-shadow: 0 0 1px var(--color3), 0 0 2px var(--color3), 0 0 4px var(--color3), 0 0 5px var(--color3), 0 0 10px var(--color3);
}

.tile .body .text::before {
    content: '>>';
    text-shadow: 0 0 1px var(--color3), 0 0 2px var(--color3), 0 0 4px var(--color3), 0 0 5px var(--color3), 0 0 10px var(--color3);
}

.tiles {
    column-count: 5;
    column-gap: 25px;
    text-align: center;
    max-width: 1500px;
}

.oneColumnTiles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.oneColumnTiles .tile:last-child {
    margin-bottom: 0 !important;
}

.oneColumnTiles .tile:first-child {
    margin-top: 0 !important;
}

.oneColumnTiles .tile {
    margin-top: 0px !important;
}

@media (max-width: 1600px) {
    .tiles {
        column-count: 3;
    }
}

@media (max-width: 900px) {
    .tiles {
        column-count: 2;
    }
}

@media (max-width: 600px) {
    .tiles {
        column-count: 1;
    }
}