.windowsMessageBox {
    background-color: white !important;
    border: 1.5px solid #2F90DB !important;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, .35) 0 5px 15px !important;
    min-width: 250px !important;
    user-select: none !important;
    width: min-content !important;
}

.windowsMessageBox * {
    color: black !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.windowsMessageBox .titleBar img {
    height: 22px !important;
    cursor: pointer !important;
    padding: 4px !important;
}

.windowsMessageBox .titleBar img:hover {
    background-color: #C75050 !important;
}

.windowsMessageBox .titleBar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    font-size: 15px !important;
}

.windowsMessageBox .titleBar .title {
    margin-left: 5px !important;
}

.windowsMessageBox .content img {
    height: 35px !important;
    margin-right: 10px !important;
}

.windowsMessageBox button {
    padding: 2px 20px !important;
    border: 1.5px dotted #696969 !important;
    outline: 2px outset #696969 !important;
    outline-offset: 2px !important;
    margin: 5px !important;
    border-radius: 0 !important;
    background-color: white !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: max-content !important;
}

.windowsMessageBox .content {
    padding: 20px !important;
    display: flex !important;
    align-items: center !important;
    word-break: break-word !important;
}

.windowsMessageBox .buttons {
    padding: 5px !important;
    background-color: #F0F0F0 !important;
    display: flex !important;
    justify-content: right !important;
}