textarea {
    margin: 10px;
    flex: 0.5;
}

.content .inputs {
    display: flex;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
}

@media (max-width:900px) {
    .content .inputs {
        flex-direction: column;
    }
    textarea {
        flex: 1;
    }
}