textarea {
    width: 100%;
}

.content .inputs {
    display: flex;
    gap: 10px;
}

.content .inputs>div {
    flex: 0.5
}

@media (max-width:900px) {
    .content .inputs {
        flex-direction: column;
    }
    .content .inputs>div {
        flex: 1;
    }
}

.buttons {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.buttons button {
    flex: 0.5;
}