* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    color: white;
    font-family: sans-serif;
}

html {
    background-color: var(--color1);
}

body {
    padding-top: 60px;
    height: 100vh;
}

.main {
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section {
    text-align: center;
    font: 35px;
    color: white;
    margin: 15px;
    text-shadow: 0 0 1px var(--color3), 0 0 2px var(--color3), 0 0 4px var(--color3), 0 0 5px var(--color3), 0 0 10px var(--color3);
}

a {
    text-decoration: none;
    color: var(--blue);
}