.main {
    flex-direction: row;
    align-items: flex-start;
    height: min-content;
}

.content {
    width: 100%;
    margin: 10px;
}

.content .box {
    margin-bottom: 20px;
}

.sidebar {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 20px;
}

.onlyShowWhenMobileWidth {
    display: none;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .content,
    .sidebar {
        margin: 0;
        width: 100%;
    }
    .sidebar {
        border: none;
        padding: 0;
    }
    .onlyShowWhenMobileWidth {
        display: block;
    }
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    margin: 2px;
}

.links img {
    height: 22px;
    margin-right: 5px;
}