.post .author,
.comment .author {
    display: flex;
    justify-self: left;
    align-items: center;
    gap: 10px;
}

.post .header,
.comment .header {
    display: flex;
    justify-content: space-between;
}

.likeButton {
    height: min-content;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.likeButton:hover,
.likeButton:hover *,
.likeButton.liked * {
    color: var(--color3) !important;
    cursor: pointer;
}

.likeButton:hover {
    background-color: rgba(255, 255, 255, .1);
}